/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
composer.lock
npm-debug.log
yarn-error.log
.env
.phpintel
/nbproject/private/